*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}

.parent{
    position: relative;
  top: 0;
  left: 0;
}

#image1{
    position: relative;
    top: 0;
  left: 0;
  height: 700px;
    width: auto;
}

#image2{
    position: absolute;
    top: 30px;
    left: 30px;
  margin-top: -31%;
  margin-left: -50%;
    stroke: transparent;
    stroke-width: 0px;
    height: 1000px;
}
#balloon1{
    animation: balloon 10s ease;
}
#balloon2{
    animation: balloon2 10s ease;
}
#balloon3{
    animation: balloon3 10s ease;
}
/*keyframes*/
@keyframes balloon{
    from{
        transform: translatex(0px) translatey(0px)
    }
    to{
        transform: translatex(75px) translateY(-1500px);
    }
}
@keyframes balloon2{
    from{
        transform: translatex(0px) translatey(0px)
    }
    to{
        transform: translatex(200px) translateY(-1500px);
    }
}
@keyframes balloon3{
    from{
        transform: translatex(0px) translatey(0px)
    }
    to{
        transform: translatex(400px) translateY(-1500px);
    }
}
