body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#weer{
    margin-left: 40%;
    font-size: 40px;
}
#weathercard{
background-color: lightblue;
padding: 50px;
border-radius: 20px;
box-shadow: 0px 4px 0px 0px #0002;
}